header {
    background-color: var(--header-bg-color);
    border-bottom: 2px solid var(--border-color);
    padding: var(--nav-padding);
}

body > header {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
    align-items: center;
}